
<html>
 <head>
    <style>
    {
        box-sizing: border-box;
    }
    /* Set additional styling options for the columns*/
    .column {
    float: left;
    width: 50%;
    }

    .row:after {
    content: "";
    display: table;
    clear: both;
    }
    </style>
 </head>
 <h1 class="title">{{site.skills_title}}</h1>
 <div id="Tokenomics">
  <body>
    <div class="row">
        <div class="column" ">
    
           <p>Mining Rewards</p>
         <p>Initial LP</p>
         <p>Future Scaling</p>
         <p>Marketing </p>
         <p>Game Development</p>
         <p>Team Incentive</p>
        </div>
        <div class="column" ">
           
       
         <p>30&#37	7500000 BITS</p>
         <p>30&#37 7500000 BITS</p>
         <p> 15&#37	3750000 BITS</p>
         <p>10&#37	2500000 BITS</p>
         <p>10&#37	2500000 BITS</p>
         <p>5&#37      1250000 BITS</p>
        </div>
    </div>
 </body>
      </div>




