<h1 class="title">{{site.skills_title}}</h1>

<div id="Tokenomics">
 
</div>

<div>
Mining Rewards &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp       30&#37	&nbsp7500000 <br>
Initial LP &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp          30&#37	&nbsp7500000	 <br>
Future Scaling    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp   15&#37	&nbsp3750000	 <br>
Marketing    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp        10&#37	&nbsp2500000	 <br>
Game Development  &nbsp&nbsp&nbsp&nbsp&nbsp   10&#37	&nbsp2500000	 <br>
Team Incentive   &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp    5&#37   &nbsp&nbsp   1250000	 <br>
</div>

