<h1 class="title">{{site.skills_title}}</h1>

<div id="Tokenomics">
 
</div>

<div>
 <body>
    <div class="row">
        <div class="column" ">
    
           <p>Mining Rewards</p>
         <p>Initial LP</p>
         <p>Future Scaling</p>
         <p>Marketing </p>
         <p>Game Development</p>
         <p>Team Incentive</p>
        </div>
        <div class="column" ">
           
       
         <p>30&#37	7500000 SIM</p>
         <p>30&#37 7500000 SIM</p>
         <p> 15&#37	3750000 SIM</p>
         <p>10&#37	2500000 SIM</p>
         <p>10&#37	2500000 SIM</p>
         <p>5&#37      1250000 SIM</p>
        </div>
    </div>
 </body>

</div>

